---
import Navbar from "../components/Navbar.astro";
const {
  title = "Fungab Global",
  description = "FunGab Global — UK's Creative Sound Powerhouse"
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body class="font-sans bg-white text-gray-900">
    <Navbar client:load />
         
    <slot />            
  </body>
</html>
